@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  :root {
    --primary: #b30422;
    --secondary: #eb0830;
    --tertiary: #01213a;
    --hover: #b81707;
    --text: #4d4d4d;
    --background: #ffffff;
    --foreground: #ededed;
  }
}
